:root {
	--background-color: #fffffe;
	--headline-color: #272343;
	--paragrah-color: #2d334a;
	--button-color: #ffd803;
	--button-text-color: #272343;
	--secondary-color: #e3f6f5;
	--tertiary-color: #bae8e8;
	--image-text-color: #404040;
	--laptop-width: 1024px;
	--fold-width: 300px;
}

html {
	font-size: 10px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#root {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
}
